main {
  padding-top: 20px;
}

h1 {
  font-size: 1.5rem;
  margin-top: 2rem;
  /*margin-bottom: 1em;*/
}

h2 {
  font-size: 1.2rem;
  margin-top: 2rem;
}

.card-title {
  margin-bottom: 0;
}

p, ul {
  margin-top: 1rem;
}

.toolbar-with-spacing {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.selected-button {
  text-decoration: underline ! important;
}

ul.card-list {
  padding: 0;
}

ul.card-list>li {
  list-style-type: none;
}

.card {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.navbar a, .navbar span {
  margin-right: 0.5em;
}
