{% extends 'fffusion/base.html' %}

{% block title %}Neuer Beitrag{% endblock %}

{% block content %}
<div class="container">
  {% if reply_to %}
  <h1>Antwort auf: {{ reply_to.title }}</h1>
  {{ reply_to.content }}
  {% endif %}
  <h1>Neuer Beitrag</h1>

  {% if request.user.is_authenticated %}
  <form method="post">
    {% csrf_token %}

    <div class="form-group">
      <label for="id_title">Überschrift:</label>
      <input type="text" class="form-control" name="title" maxlength="255" required  id="id_title">
      <small class="text-muted">Beschreibe kurz und prägnant, worum es dir geht.</small>
    </div>

    <div class="form-group">
      <label for="id_content">Text:</label>
      <textarea class="form-control" name="content" maxlength="1023" required  id="id_content">
      </textarea>
    </div>

    <input type="submit" value="Antwort posten">
  </form>
  {% else %}
  Melde dich an, um zu antworten!
  {% endif %}
</div>
{% endblock %}
