{% extends "fffusion/base.html" %}

{% block title %}Moderationszentrum{% endblock %}
{% block navtitle %}Moderationszentrum{% endblock %}

{% block content %}
<div class="container">
  <div class="toolbar-with-spacing">
    <div class="btn-group">
      <a class="btn btn-light" href="{% url "core:moderation_dashboard_posts" %}">Moderierte Beiträge</a>
      <a class="btn btn-light selected-button" href="{% url "core:moderation_dashboard_moderators" %}">Moderator*innen</a>
    </div>
  </div>

  <section>
    <h1>Abonnierte Moderator*innen</h1>
    {% if moderators %}
    <ul class="card-list">
      {% for moderator in moderators %}
      <li>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{moderator.user.username}} <a class="btn btn-light" href="{% url "core:moderator_detail" modid=moderator.user.id %}">Details</a></h5>
            
            <p>Moderierte Beiträge insgesamt: {{ moderator.all_moderations.count }}</p>
            <p>Übereinstimmung <small class="text-muted">(gleich wie du moderierte Beiträge : gemeinsam mit dir moderierte Beiträge)</small>: {{ moderator.num_correlated_moderations }} : {{ moderator.common_moderations.count }}<p>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    keine...
    {% endif %}
  </section>

  <section>
    <h1>Moderator*innenvorschläge</h1>
    {% if moderator_candidates %}
    <ul class="card-list">
      {% for moderator in moderator_candidates %}
      <li>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{moderator.user.username}} <a class="btn btn-light" href="{% url "core:moderator_detail" modid=moderator.user.id %}">Details</a></h5>
            
            <p>Moderierte Beiträge insgesamt: {{ moderator.all_moderations.count }}</p>
            <p>Übereinstimmung <small class="text-muted">(gleich wie du moderierte Beiträge : gemeinsam mit dir moderierte Beiträge)</small>: {{ moderator.num_correlated_moderations }} : {{ moderator.common_moderations.count }}<p>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    keine...
    {% endif %}
</div>
{% endblock %}
