{% extends "fffusion/base.html" %}

{% block title %}Antwort aus Zwischenablage verlinken{% endblock %}

{% block content %}
<div class="container">
  <h1>Antworten auf den Post: {{reply_to.title}}</h1>
  {{reply_to.content}}

  <h1>Verlinke als Antwort aus der Zwischenablage:</h1>
  <ul>
    {% for item in clipboard_items %}
    <li>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ item.item.title }} <a class="btn btn-light" href="{% url "core:link_reply" replytoid=reply_to.id replyid=item.item.id %}">Mit diesem Beitrag antworten</a></h5>
          <p>{{ item.item.content }}</p>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
